<!-- model indicates that the view is strongly typed to the specified type, in this case Album -->
@model IEnumerable<SellingAlbums.Models.Album>
<div>
    <h2>@ViewBag.Title</h2>
</div>

<div class="container">
    <div class="row">

        <!-- Model is a type specified (Album) variable -->
        @foreach (var album in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p><img src="@album.CoverUrl" class="w-75 img-fluid"/></p>
                <h3>@album.Price.ToString("c")</h3>
                <h4>@album.Title</h4>
                <p>@album.Artist.Name</p>
            </div>
        }

    </div>
</div>
